<app-go-back [path]="'/dashboard'"></app-go-back>
<ion-content [fullscreen]="true">
  <div class="ion-text-center">
    <h3>{{fields.currentBank.name}}</h3>
  </div>
  <div class="ion-margin">
    <form [formGroup]="myForm">
      <div *ngIf="currentCard?.word?.image">
        <!-- TIPO 1 -->
        <section *ngIf="currentCard.type === 1">
          <div class="image-practice" style="background-image: url('{{currentCard.word!.image | formatImage}}');"></div>
          <ion-grid>
            <ion-row>
              <ion-col *ngFor="let cardOption of listOptions">
                <ion-button (click)="selectBtn(cardOption)" class="ion-text-capitalize"
                  [fill]="cardOption.selected ? 'solid' : 'outline'" expand="block"
                  size="large">{{cardOption.text}}</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </section>
        <section *ngIf="currentCard.type === 2">
          <small>Seleccione la imagen correcta para:</small>
          <h1>{{currentCard.word?.text}}</h1>
          <ion-grid>
            <ion-row>
              <ion-col size="6" *ngFor="let card of listOptions">
                <div (click)="selectBtn(card)" class="image-practice-select"
                  [ngClass]="card.selected ? 'border-selected': ''"
                  style="background-image: url('{{card.image| formatImage}}');">
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </section>
        <section *ngIf="currentCard.type === 3">
          <div class="image-practice" style="background-image: url('{{currentCard.word!.image | formatImage}}');"></div>
          <div class="ion-text-center ion-margin">
            <small>Escribe su significado en inglés:</small>
          </div>
          <ion-input formControlName="responseText" (keyup)="change();currentCard.complete = true"
            label="Significado en inglés" label-placement="floating" fill="outline" placeholder="Elkin"></ion-input>
          <div *ngIf="myForm.controls.responseText.invalid && myForm.controls.responseText.dirty">
            <small class="text-danger" *ngIf="myForm.controls.responseText?.errors?.required">El significado es
              requerido</small>
            <small class="text-danger" *ngIf="myForm.controls.responseText?.errors?.minlength">Mínimo 2
              caracteres</small>
            <small class="text-danger" *ngIf="myForm.controls.responseText?.errors?.maxlength">Máximo 50
              caracteres</small>
            <small class="text-danger" *ngIf="myForm.controls.responseText?.errors?.responseText">El significado es
              inválido</small>
          </div>
        </section>
      </div>
    </form>
  </div>
</ion-content>
<div class="ion-margin">
  <ion-button (click)="validateResponse()" class="ion-text-capitalize" fill="solid" expand="block" size="large"
    [disabled]="!(currentCard.complete && myForm.valid)">Comprobar</ion-button>
</div>