<ion-fab slot="fixed" vertical="top" horizontal="start">
  <ion-fab-button (click)="utils.navigate('/public/register')">
    <ion-icon name="person-add-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-content [fullscreen]="true">
  <div class="ion-text-center">
    <form [formGroup]="formLogin">
      <div class="ion-margin">
        <ion-icon name="person-circle-outline" class="icon-profile ion-margin-top"></ion-icon>
        <h3>Inicio de sesión</h3>
        <small>Por favor complete todos los campos</small>
      </div>
      <div class="ion-margin">
        <ion-input label="Correo electrónico" label-placement="floating" fill="outline"
          placeholder="ejemplo@ejemplo.com" formControlName="email"></ion-input>
        <div *ngIf="formLogin.controls.email.invalid && formLogin.controls.email.dirty">
          <small class="text-danger" *ngIf="formLogin.controls.email?.errors?.required">El correo es requerido</small>
          <small class="text-danger" *ngIf="formLogin.controls.email?.errors?.minlength">Mínimo 2 caracteres</small>
          <small class="text-danger" *ngIf="formLogin.controls.email?.errors?.maxlength">Máximo 255 caracteres</small>
          <small class="text-danger" *ngIf="formLogin.controls.email?.errors?.email">El correo es inválido</small>
        </div>
      </div>
      <div class="ion-margin">
        <ion-input label="Contraseña" label-placement="floating" fill="outline" type="password" placeholder="*******"
          formControlName="password"></ion-input>
        <div *ngIf="formLogin.controls.password.invalid && formLogin.controls.password.dirty">
          <small class="text-danger" *ngIf="formLogin.controls.password?.errors?.required">La constraseña es
            requerida</small>
          <small class="text-danger" *ngIf="formLogin.controls.password?.errors?.minlength">Mínimo 2 caracteres</small>
          <small class="text-danger" *ngIf="formLogin.controls.password?.errors?.maxlength">Máximo 255
            caracteres</small>
        </div>
      </div>
      <div class="ion-margin">
        <a (click)="utils.navigate('/dashboard')">TEST</a>
      </div>
    </form>
  </div>
</ion-content>
<div class="ion-margin">
  <ion-button class="ion-text-capitalize" fill="solid" expand="block" size="large" (click)="auth()"
    [disabled]="!formLogin.valid">
    Iniciar sesión
  </ion-button>
</div>