<app-go-back [path]="'/dashboard/newBank'"></app-go-back>
<ion-content [fullscreen]="true" *ngIf="fields.user">
  <div class="ion-text-center" *ngIf="fields.currentBank">
    <h1>{{fields.currentBank.name}}</h1>
    <div class="ion-margin" *ngIf="fields.currentBank.image">
      <div class="image-database" style="background-image: url('{{fields.currentBank.image}}');">
      </div>
    </div>
    <div *ngIf="listCards.length === 0">
      <ion-list class="ion-margin">
        <ion-item routerLink="newCard">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>Agregar primer tarjeta</ion-label>
        </ion-item>
      </ion-list>
    </div>
    <div *ngIf="listCards.length > 0">
      <ion-list class="ion-margin">
        <ion-item *ngFor="let word of listCards">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>{{word.text}}</ion-label>
        </ion-item>
      </ion-list>
      <ion-list class="ion-margin">
        <ion-item routerLink="newCard">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>Agregar tarjeta</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>