<ion-router-outlet></ion-router-outlet>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button (click)="utils.navigate('/dashboard/')">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button (click)="utils.navigate('/dashboard/banks')">
      <ion-icon size="large" name="albums-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button (click)="utils.navigate('/dashboard/profile')">
      <ion-icon name="person-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>