<ion-content [fullscreen]="true">
  <div class="ion-text-center">
    <h1>Hola {{fields.user.firstName}}</h1>
  </div>
  <div *ngIf="listBanks.length === 0">
    <div class="ion-margin">
      <h6>No tienes bancos creados</h6>
      <ion-list>
        <ion-item routerLink="newBank">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>Crear nuevo banco</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
  <div *ngIf="listBanks.length > 0">
    <div class="ion-margin">
      <ion-list>
        <ion-item routerLink="newBank" *ngFor="let bank of listBanks">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>{{bank.name}}</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>