<ion-content [fullscreen]="true">
  <div *ngIf="listBanks.length === 0">
    <ion-card class="ion-text-center dotted-border" routerLink="newBank">
      <ion-card-header>
        <ion-card-title class="ion-margin-top">No tienes bancos creados</ion-card-title>
      </ion-card-header>
      <ion-card-content class="ion-margin">
        <h1 class="ion-padding">Crear mi <br> primer banco <br> de tarjetas</h1>
      </ion-card-content>
    </ion-card>
  </div>
  <div *ngIf="listBanks.length > 0">
  </div>
</ion-content>