<ion-content [fullscreen]="true">
  <div class="ion-text-center">
    <form [formGroup]="myForm">
      <div class="ion-margin">
        <h3>Crear nuevo banco</h3>
        <small>Por favor complete todos los campos</small>
      </div>
      <div class="ion-margin" *ngIf="myForm.controls.image.value">
        <div class="image-database" style="background-image: url('{{myForm.controls.image.value}}');">
        </div>
      </div>
      <div class="ion-margin">
        <ion-item>
          <ion-label id="image-new-bank" position="stacked">Agregar imagen</ion-label>
          <ion-input class="ion-margin-top ion-margin-bottom" aria-labelledby="image-new-bank" type="file"
            (change)="onFileSelected($event)" accept=".jpg, .png"></ion-input>
        </ion-item>
        <small class="text-danger" *ngIf="exits">Ya tienes un banco de tarjetas con este nombre</small>
      </div>
      <div class="ion-margin">
        <ion-input label="Nombre" label-placement="floating" fill="outline" placeholder="Elkin" formControlName="name"
          (keyup)="findByEmailUserAndName()"></ion-input>
        <div *ngIf="myForm.controls.name.invalid && myForm.controls.name.dirty">
          <small class="text-danger" *ngIf="myForm.controls.name?.errors?.required">El nombre es
            requerido</small>
          <small class="text-danger" *ngIf="myForm.controls.name?.errors?.minlength">Mínimo 2
            caracteres</small>
          <small class="text-danger" *ngIf="myForm.controls.name?.errors?.maxlength">Máximo 255
            caracteres</small>
          <small class="text-danger" *ngIf="myForm.controls.name?.errors?.name">El nombre es
            inválido</small>
        </div>
        <small class="text-danger" *ngIf="exits">Ya tienes un banco de tarjetas con este nombre</small>
      </div>

      <div class="ion-margin">
        <ion-textarea label="Descripción" labelPlacement="floating" fill="outline"
          placeholder="Descripción del banco a crear" formControlName="description"></ion-textarea>
      </div>
    </form>
  </div>
</ion-content>
<div class="ion-margin">
  <ion-button class="ion-text-capitalize" fill="solid" expand="block" size="large" (click)="create()"
    [disabled]="!(myForm.valid && !exits)">Crear banco</ion-button>
</div>